.indicator {
    display: inline-block;
    background-color: #FFFF73;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .err {
    background-color: red;
  }
  .success {
    background-color: green;
  }
  
  .item {
    border: solid 1px;
    list-style-type: none;
    cursor: pointer;
    padding: 12px 0 12px 25px;
    text-align: left;
    background-color: #39495691;
  }
  .item:hover {
    background-color: black;
    font-weight: bold;
  }