.result-win-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color: #394956ad;
    box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
    font-size: 24px;
    margin-bottom: 20px;
}