.task-container {
  display: flex;
  justify-content: flex-start;
  background-color: #394956ad;
  padding: 25px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
}

.task-image {
  width: 220px;
  height: 170px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.task-content {
  margin-left: 30px;
  width: 100%;
  padding: 10px;
}

.task-bird-name {
  font-size: 26px;
  margin-bottom: 5px;
}

.task-bird-name-latin {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
}

@media (max-width: 790px) {
  .task-container {
    flex-direction: column;
    justify-content: center;
  }

  .task-image-container {
    display: flex;
    justify-content: center;
  }

  .task-content {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .task-container {
    padding: 15px 10px;
  }
}
