.button {
    background-color: #394956ad;
    color: #ffff73;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
  }
  .button_active {
    background-color: #ffff73;
    color: black;
    border: none;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
  }
  .button:hover {
    cursor: not-allowed;
  }
  .button_active:hover {
    cursor: pointer;
  }