.app {
  background-image: url("https://raw.githubusercontent.com/wrublik93/songbird/assets/assets/images/common/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.wrapper {
  color: #FFFF73;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}